#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.checkForm{
  border: 5px dashed #BDEDFF;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
  border-radius: 12px;
  width:20vw;
}

.title {
  font-weight: bold;
  font-size: 24px;
  color: #668e9d;
}

.containerMessage {
  background-color: #d8d8d8;
}

.inputAge {
  display: flex;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.listCheck {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  border: 1px solid aqua;
  text-align: center;
  padding: 4px;
  margin: 2px 0px;
}

.listCheck li {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.item {
  margin: 0px;
  padding:5px 0px;
  text-align: justify;
  padding-left: 10px;
}
